h1 {
    color: blue;
    text-align: center;
  }
  h2 {
    color: green;
    font-style: italic;
    text-align: center;
  }
  p {
    font-family: sans-serif;
    color: red;
  }
  ul {
    line-height: 40px;
  }
  .intro-section {
    font-style: italic;
    background-color: skyblue;
  }
  #project-section{
    display: flex;
    background-color:  cyan;
    flex-direction: column;
    color: white;
    align-items: center;
    padding: 20px;
    border: 5px;
  }  

  .p-ssection{
      font-style: italic;
      background-color:  cyan;
      height: 150px;
      width: 150px;
      border: 5px;
      float:left
  }
  image{
      float: left;
      font-size: small;    
  }
  body {
    font-family: sans-serif;
  }