h1 {
    color: blue;
    text-align: center;
  }
  h2 {
    color: green;
    font-style: italic;
    text-align: center;
  }
  h3 {
    color: black;
    font-style: italic;
    text-align: center;
  }
  p {
    font-family: sans-serif;
    color: red;
  }
  ul {
    line-height: 70px;
    font-size: large;
  }
    ol {
      line-height: 70px;
      font-size: x-large;
      color: purple;
  }
  .intro-section {
    font-style: italic;
    background-color: skyblue;
    /* display: flex; */
    /* float: left; */
  }
  .main-image{
    float: left;
  }
  #project-section{
    /* display: flex; */
    background-color:  cyan;
    flex-direction: column;
    color: white;
    align-items: center;
    padding: 20px;
    border: 5px;
  }  

  .projects{
      /* display: flex; */
      flex-wrap: wrap;
      justify-content: space-around;
      box-sizing: border-box;   

     
  }

  .projects img{
    width: 260px;
    height: 240px;
    margin: 10px;
    
  }
  image{
      /* float: left; */
      font-size: medium;   
      width: 100%; 
  }
  body {
    font-family: sans-serif;
  }

  #skills{
    display: flex;
    flex-direction: column;
    padding: 20px;

  }
  .row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
  } 
  .box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450;
    border: 1px solid black;  
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
  }
  @media screen and (max-width:760px) {
    body{
      background-color: black;
      color: white;
    }
    
  }
  @media screen and (min-width:1024px) {
    body{
      background-color:red;
      color: blueviolet;
    }
    
  }
  @media screen and (min-width:960px) {
    body{
      background-color: green;
      
    }
    
  }
  