h1 {
    color: blue;
    text-align: center;
  }
  h2 {
    color: green;
    font-style: italic;
    text-align: center;
  }
  p {
    font-family: sans-serif;
    color: red;
  }
  ul {
    line-height: 40px;
  }
  .intro-section {
    font-style: italic;
    background-color: skyblue;
  }
  #project section{
    font-style: italic;
    background-color:  brown;
  }
  image{
      float: left;
      font-size: small;    
  }
  body {
    font-family: sans-serif;
  }